@media screen and (max-width: 500px) {
  .body {
    display: block;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 25% 1fr;
  margin: 40px;
}

html {
  font-size: 16px;
}

.header {
  background-color: rgba(143, 9, 9, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: rgba(143, 9, 9, 0.8);
  border: transparent;
}

.image h1,
.image h2,
.image p {
  margin: 10px 0;
}

.sidebar {
  background-color: rgb(227, 222, 222);
  padding-left: 30px;
  padding-right: 10px;
  margin: 0px 50px;
}

.mainpart {
  padding-left: 30px;
}

h3 {
  margin-top: 2rem;
  position: relative;
  padding-bottom: 5px;
}

h3::after {
  content: "";
  background: brown;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%;
}

/* Details */
#profilbild {
  max-width: 45rem;
  height: 90%;
  border-radius: 50%;
}

#QR-Code {
  padding-top: 1rem;
  max-width: 10rem;
}

.date {
  color: brown;
}

.sidebar span {
  line-height: 200%;
  padding: 5px;
}
