@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
  }

  .profile {
    margin-bottom: 0;
  }
}

/* Global settings */

p {
  line-height: 32px;
}

:root {
  --text-color: #14349e;
  --background-color: #e7e0e0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-size: 27px;
}

.mainpart h3:first-child,
.sidebar h3:first-child {
  margin-top: 10px;
}

.main {
  float: left;
  padding: 10px;
  height: 300px;
}

.sidebar {
  width: 25%;
  margin-left: 2rem;
  line-height: 50px;
}

.mainpart {
  width: 65%;
  margin-left: 5rem;
}

#greyrectangle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: calc(736px + 2rem);
}

ul ul li {
  list-style-type: square;
}

/* Header */
header {
  display: flex;
  grid-column: 1 / -1;
  margin-bottom: 2rem;
  margin-top: 2rem;
  position: relative;
}

#profilbild {
  max-width: 500px;
  border-radius: 50%;
  margin-left: 95px;
  margin-bottom: 50px;
}

.headertxt {
  margin-left: 10rem;
}

header p {
  margin-top: auto;
}

.rectangle {
  height: 100px;
  width: 100%;
  background-color: #14349e;
  position: absolute;
  bottom: 0px;
  z-index: -10;
  _filter: blur(2px);
}

h1 {
  font-size: 40px;
}

h2 {
  text-transform: uppercase;
  _margin-top: 3rem;
  font-size: 32px;
}

/* Main */
h3 {
  text-transform: uppercase;
  border-bottom: 1px solid #14349e;
  margin-top: 3rem;
  font-size: 32px;
}

.date {
  font-weight: bold;
  color: #14349e;
}

.mainpart ul,
.mainpart h4,
.mainpart p {
  margin: 10px;
}

.mainpart h4 {
  font-size: 32px;
}

ul li {
  line-height: 50px;
}
